In [1]:
import numpy as np
import pandas as pd
train_data = pd.read_csv('./data/train.csv')

In [2]:
train_data['Date']=pd.to_datetime(train_data['Date'], format='%d/%m/%Y')
train_data['Day'] = pd.DatetimeIndex(train_data['Date']).day
train_data['Month'] = pd.DatetimeIndex(train_data['Date']).month
train_data['Year'] = pd.DatetimeIndex(train_data['Date']).year
train_data=train_data.drop('Date',axis=1)

In [3]:
train_data.head()

,StoreID,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfCustomers,NumberOfSales,...,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees,Day,Month,Year
0,1000,0,1,0,Hyper Market,General,326,7,495,5676,...,-2,70,1029,1,6.0,0.0,23,1,3,2016
1,1000,0,1,0,Hyper Market,General,326,7,608,8111,...,-2,58,1025,1,10.0,0.0,56,2,3,2016
2,1000,0,1,0,Hyper Market,General,326,7,665,8300,...,-3,55,1023,2,8.0,0.0,22,4,3,2016
3,1000,0,1,0,Hyper Market,General,326,7,630,7154,...,-6,25,1022,-1,10.0,0.0,108,5,3,2016
4,1000,0,0,0,Hyper Market,General,326,7,0,0,...,-6,48,1022,-5,5.0,0.0,46,6,3,2016

In [14]:
result = pd.DataFrame(train_data['StoreID'])
result['Day']=train_data['Day']
result['NumberOfSales'] = train_data['NumberOfSales']
#Group by Month
result =result.groupby(['Day'], as_index=False)['NumberOfSales'].sum()

In [15]:
result

    Day  NumberOfSales
0     1       66605230
1     2       78742870
2     3       75060695
3     4       55093112
4     5       80413933
5     6       75474507
6     7       81488284
7     8       80578521
8     9       74025241
9    10       72302168
10   11       67453192
11   12       60191917
12   13       69074622
13   14       64856685
14   15       67281641
15   16       67259982
16   17       67078509
17   18       68919367
18   19       74757940
19   20       77933079
20   21       73836120
21   22       73346412
22   23       70860985
23   24       65506266
24   25       65764939
25   26       67918731
26   27       62813283
27   28       58121957
28   29       55121872
29   30       62565189
30   31       41646407