In [1]:
import pandas as pd             
import numpy as np

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

from aux_fun import evaluate

import json

# Model performance operations

Let's find out how performant the prediction of costumer would be

In [2]:
df = pd.read_csv('./data/train_imputed.csv')
y = df['NumberOfCustomers']
X = df.drop(df[['NumberOfCustomers', 'WindDirDegrees']], axis=1)

## Train-Test Split

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Model

In [4]:
#parameters
params_dict = {'n_estimators' : 15}

In [5]:
rf = RandomForestRegressor(**params_dict)

In [6]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [7]:
y_pred = rf.predict(X_test)

In [8]:
y_pred=y_pred.astype(int)

## Evaluation

In [9]:
r2 = r2_score(y_test, y_pred)
r2

0.99067596111843548

Wow! It's hell performing!

# Real operations

Now we generate NumberOfCustomers for the imputed test set

In [10]:
test = pd.read_csv('./data/test_imputed.csv')

In [11]:
test.head()

,StoreID,IsHoliday,IsOpen,HasPromotions,NearestCompetitor,Region,Region_AreaKM2,Region_GDP,Region_PopulationK,Max_Dew_PointC,...,Day,Month,Year,Hyper_Market,Shopping_Center,Standard_Market,Super_Market,General,With_Fish_Department,With_Non-Food_Department
0,1000,0,1,0,326,7,9643,17130,2770,276,...,3,1,2018,1,0,0,0,1,0,0
1,1000,0,1,0,326,7,9643,17130,2770,277,...,3,2,2018,1,0,0,0,1,0,0
2,1000,0,1,0,326,7,9643,17130,2770,275,...,3,3,2018,1,0,0,0,1,0,0
3,1000,0,0,0,326,7,9643,17130,2770,280,...,3,4,2018,1,0,0,0,1,0,0
4,1000,0,1,1,326,7,9643,17130,2770,280,...,3,5,2018,1,0,0,0,1,0,0

In [12]:
rf = RandomForestRegressor(**params_dict)
rf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [13]:
y_pred = rf.predict(test)
y_pred=y_pred.astype(int)
test['NumberOfCustomers'] = y_pred

In [14]:
test.to_csv('./data/test_imputed_withNumberOfCustomers.csv', index=False)